<div id="<%= dom_id categorization %>">
  <p>
    <strong>Article:</strong>
    <%= categorization.article_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= categorization.category_id %>
  </p>

</div>
